
---
import Header from '/Users/landon/celestial-crater/tutorial/src/components/Header.astro';
import '/src/styles/global.css';
import Footer from '/Users/landon/celestial-crater/tutorial/src/components/footer.astro';
const pageTitle = "Home Page";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<Footer />
		<script>
			import '/Users/landon/celestial-crater/tutorial/src/scripts/menu.js';
		  </script>
	</body>
</html>
